html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
main{
  height: 100%;
  padding-top: 0.75rem;
  padding-bottom: 2.75rem;
}
.material-icons {
  position: relative;
  vertical-align: inherit;
  font-size: 1rem;
  padding-right: 4px;
}
#user-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 8px;
  width: 100%;
  right: 0;
  padding-left: 10px;
  justify-content: flex-end;
  padding-right: 10px;
}
#user-container #user-pic {
  top: -3px;
  position: relative;
  display: inline-block;
  background-image: url('/images/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px;
  border-radius: 20px;
}
#user-container #user-name {
  font-size: 16px;
  line-height: 36px;
  padding-right: 10px;
  padding-left: 20px;
}
@media screen and (max-width: 610px) {
  header {
    height: 113px;
    padding-bottom: 80px !important;
  }
  #user-container {
    top: 51px;
    height: 42px;
    padding-top: 3px;
    padding-right: 2px;
    background-color: grey;
  }
  #user-container #user-pic {
    top: 2px;
    width: 33px;
    height: 33px;
    background-size: 33px;
  }
}
@media (max-width: 610px) {
  main{
    height: 100%;
    padding-top: 2.5rem;
    padding-bottom: 4.5rem;
  }
}
@media (max-width: 991px) {

}
